/* Created   by https://github.com/rxyhn 
   Designed  by https://github.com/rxyhn
   Maintaned by https://github.com/rxyhn
*/

// Global
*{
  all: unset;
}

// Variable Color's
$background: #16161e;
$foreground: #c0caf5;

$black: #1a1b26;
$gray: #565f89;
$red: #db4b4b;
$green: #9ece6a;
$yellow: #e0af68;
$blue: #7aa2f7;
$magenta: #9d7cd8;
$cyan: #7dcfff;
$white: #a9b1d6;

// Calendar
.cal-box {
  background-color: $black;
  font-family: Comic Mono;
  font-size: 1em;
  font-weight: bold;

  .cal-inner-box {
      padding: 1rem 1rem .2rem;

      .cal {
          &.highlight {
              padding: 10rem;
          }

          padding: .8rem .25rem 0rem;
          margin-left: 10px;
      }
  }
}

calendar:selected {
  color: $blue;
}

calendar.header {
color: $blue;
font-weight: bold;
}

calendar.button {
color: $magenta;
}

calendar.highlight {
color: $magenta;
font-weight: bold;
}

calendar:indeterminate {
color: $gray;
}
